li{
    display: inline;
    padding-right: 25px;
    float: right;
}

a{
    text-decoration: none;
}

.header{
    text-align: center;
    font-weight: bold;
}

.error{
    color: red;
}

.alignLogOff{
    float: right;
    margin-top: -25px;
}

